/*Propiedad para mandar a llamar el ripo de fuente*/
@font-face{
    font-family: "Logo";
    src: url(../FuentesL/Lato-LightItalic.ttf);
}
/*Etiquetas de cabeceras y encabezados de la página web*/
h1{
    margin-top: -1%;
    text-align: center;
    line-height:114px;
    font-weight: bold;
    font-size: 40px;
    color:  rgb(230, 72, 72);
    background: black;
}

h6{
    margin-top: -3%;
    text-align: center;
    line-height:114px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(230, 72, 72);
    padding-left: 10%;

}


h3{
margin-top: -9%;
text-align: center;
line-height: 114%;
font-weight: bold;
font-size: 14px;
color: rgb(230, 72, 72);
padding-left: 10%;

}

/*Etiqueta del logo de la tienda*/
.Logo{
    padding-left: 67.2%; 
    margin-top: -2; 
}
/*Etiqueta hr para trazar raya y separar contenidos*/
hr{
    border: 0.1px solid rgb(230, 72, 72);
    border-radius: 0%;
    margin-top: -2.0%;
}
/*Clase para la creación del Sidebar, tamaños y estilos*/
.Sidebar{
    font-size: 13px;
    position: absolute;
    width: 250px;
    height: 3300px;
    background: black;
    color:  rgb(230, 72, 72);
    outline: 1px solid rgb(230, 72, 72);
    margin-top: -0.5%;
    padding-left: -17%;
}
/*Se usa la misma clase Sidebar para ponerle estilos a la cabecera Menú Tienda*/
.Sidebar h2{
    text-align: center;
    margin: 0;
    padding: 15px;
    background: black;
    margin-left: -5%;
}
/*Se usa la misma clase para ponerle estilos a cada contenido que contienen los li*/
.Sidebar li{
    outline: 1px solid rgb(230, 72, 72);
    transition: border 0.3s;
}
/*Se usa la misma clase para ponerle estilos a cada boton que contienen los li*/
.Sidebar li:hover{
    background: rgb(216, 215, 215);
    border-left: 5px solid ;
}
/*Se usa la misma clase para ponerle estilos y ajustes al menú del contenido de los ul*/
.Sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;    
}
/*Se usa la misma clase para ponerle estilos a cada una de las opciones que contien a*/
.Sidebar a {
    font-size: 14px;
    font-weight: bold;
    color:  rgb(230, 72, 72);
    text-decoration: none;
    display: block;
    padding: 15px;
    
}
/*Se usa la clase Contenido para ponerle estilos al Sidebar, como al funcionamiento del icono, imagenes y color de fondo*/
.Contenido{
    margin-top: -0.6%;
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    background:   rgb(175, 128, 128);
    transition: all 0.3s;
    background-position: center;
    background-size: cover;
    height: 3300px;
    padding: 0;
}
/*Se usa la clase menu-bar para ajustar el icono y puntero*/
.menu-bar{
    margin-left: 0.2%;
    cursor: pointer;
    margin-top: 0.2%;
}
/*Se usa la clase Abrir para darle funcionamiento al dezplazamiento del icono*/
.Abrir{
    transform: translatex(250px);
}
/*Se usa como clase el elemento body para cambiar fuente y estilos a todo el contenido*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    background: black;
    margin: 0;
    overflow-x: hidden;
    width: 90%;
  
}
/*Se usa elemento body::-webkit-scrollbar como clase para darle estilos al scroll*/
body::-webkit-scrollbar{
    width: 10px;
          
}
/*Se usa elemento body::-webkit-scrollbar-thumb como clase para que podamos darle color al scroll*/
body::-webkit-scrollbar-thumb{
    background: rgb(230, 72, 72);
    min-width: 500px;
  }

.slidera {
    width: 35%;
    margin: auto;
    overflow: hidden;
    margin-top: -38.4%;
    border: 1px solid rgb(175, 128, 128);
    border-radius: 10%;
    margin-left: 7.5%;   
}

.slidera ul {
    display: flex;
    padding: 0;
    width: 1000%;
    animation: cambiar 20s infinite ease-in;
    animation-direction: alternate;
}

.slidera ul:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.slidera li {
    list-style: none;
    width: 300%;
}

.slidera img {
    width: 100%;
}

@keyframes cambiar {
  5%{margin-left: 0;}
  10%{margin-left: 0;}

  15%{margin-left: -100%;}
  20%{margin-left: -100%;}

  25%{margin-left: -200%;}
  30%{margin-left: -200%;}

  35%{margin-left: -300%;}
  40%{margin-left: -300%;}

  45%{margin-left: -400%;}
  50%{margin-left: -400%;}

  55%{margin-left: -500%;}
  60%{margin-left: -500%;}

  65%{margin-left: -600%;}
  70%{margin-left: -600%;}

  75%{margin-left: -700%;}
  80%{margin-left: -700%;}

  85%{margin-left: -800%;}
  90%{margin-left: -800%;}

  95%{margin-left: -900%;}
  100%{margin-left: -900%;}

}

.slider {
    width: 35%;
    margin: auto;
    overflow: hidden;
    margin-top: -1%;
    border-radius: 10%;
    border: 1px solid rgb(175, 128, 128);
    margin-left: 46.9%;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 1000%;
    animation: cambio 20s infinite ease-in;
    animation-direction: alternate;
}

.slider ul:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.slider li {
    list-style: none;
    width: 300%;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
  5%{margin-left: 0;}
  10%{margin-left: 0;}

  15%{margin-left: -100%;}
  20%{margin-left: -100%;}

  25%{margin-left: -200%;}
  30%{margin-left: -200%;}

  35%{margin-left: -300%;}
  40%{margin-left: -300%;}

  45%{margin-left: -400%;}
  50%{margin-left: -400%;}

  55%{margin-left: -500%;}
  60%{margin-left: -500%;}

  65%{margin-left: -600%;}
  70%{margin-left: -600%;}

  75%{margin-left: -700%;}
  80%{margin-left: -700%;}

  85%{margin-left: -800%;}
  90%{margin-left: -800%;}

  95%{margin-left: -900%;}
  100%{margin-left: -900%;}

}

.sliderb {
    width: 35%;
    margin: auto;
    overflow: hidden;
    margin-top: -1%;
    border-radius: 10%;
    border: 1px solid rgb(175, 128, 128);
    margin-left: 7.5%;
}

.sliderb ul {
    display: flex;
    padding: 0;
    width: 1000%;
    animation: cambio 20s infinite ease-in;
    animation-direction: alternate;
}

.sliderb ul:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.sliderb li {
    list-style: none;
    width: 300%;
}

.sliderb img {
    width: 100%;
}

@keyframes cambio {
  5%{margin-left: 0;}
  10%{margin-left: 0;}

  15%{margin-left: -100%;}
  20%{margin-left: -100%;}

  25%{margin-left: -200%;}
  30%{margin-left: -200%;}

  35%{margin-left: -300%;}
  40%{margin-left: -300%;}

  45%{margin-left: -400%;}
  50%{margin-left: -400%;}

  55%{margin-left: -500%;}
  60%{margin-left: -500%;}

  65%{margin-left: -600%;}
  70%{margin-left: -600%;}

  75%{margin-left: -700%;}
  80%{margin-left: -700%;}

  85%{margin-left: -800%;}
  90%{margin-left: -800%;}

  95%{margin-left: -900%;}
  100%{margin-left: -900%;}

}

.sliderc {
    width: 35%;
    margin: auto;
    overflow: hidden;
    margin-top: -38.5%;
    border-radius: 10%;
    border: 1px solid rgb(175, 128, 128);
    margin-left: 46.9%;
}

.sliderc ul {
    display: flex;
    padding: 0;
    width: 335%;
    animation: cambioc 12s infinite ease-in;
    animation-direction: alternate;
}

.sliderc ul:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.sliderc li {
    list-style: none;
    width: 30%;
}

.sliderc img {
    width: 100%;
}

@keyframes cambioc {
    0%{margin-left: 0;}
    40%{margin-left: 0;}
  
    50%{margin-left: -100%;}
    70%{margin-left: -100%;}
  
    80%{margin-left: -200%;}
    100%{margin-left: -200%;}
  
}

.SoloRopa{
    margin-top: -1.9%;
    padding-left: 4%; 
}

.SoloRopa img {
    margin: 5px;
}

.SoloCalzado{
    margin-top: -1.2%;
    padding-left: 5.5%;  
}

.SoloCalzado img {
    margin: 5px;
}

.SoloBolsoMochila{
    margin-top: -1.2%;
    padding-left: 5.5%; 
}

.SoloBolsoMochila img {
    margin: 5px;
}

/*Descripciones de fotos*/

.Contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.Contenedor h1{
    text-align: center;
    font-size: 20px;
    margin: 5px 0px 40px;
    color:  rgb(230, 72, 72);
       
}

/*Contenedor principal*/

.Contenedor{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor-img{
    transition: all 0.6s;
    margin-top: -5%;
}

.Contenedor-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor-text p{
    text-align: justify;
}

.Contenedor-item:hover .Contenedor-text{
    transform: translateY(0%);
}

.Contenedor-item:hover .Contenedor-img{
    transform: scale(1.15);
}

hr{
   border: 1px solid black;
   margin-top: 1%;
}

/*Contenedor1*/

.Contenedor1{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor1-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor1-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor1-img{
    transition: all 0.6s;
}

.Contenedor1-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor1-text p{
    text-align: justify;
}

.Contenedor1-item:hover .Contenedor1-text{
    transform: translateY(0%);
}

.Contenedor1-item:hover .Contenedor1-img{
    transform: scale(1.15);
}

/*Contenedor2*/

.Contenedor2{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor2-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor2-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor2-img{
    transition: all 0.6s;
}

.Contenedor2-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor2-text p{
    text-align: justify;
}

.Contenedor2-item:hover .Contenedor2-text{
    transform: translateY(0%);
}

.Contenedor2-item:hover .Contenedor2-img{
    transform: scale(1.15);
}

/*Contenedor3*/

.Contenedor3{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor3-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor3-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor3-img{
    transition: all 0.6s;
}

.Contenedor3-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor3-text p{
    text-align: justify;
}

.Contenedor3-item:hover .Contenedor3-text{
    transform: translateY(0%);
}

.Contenedor3-item:hover .Contenedor3-img{
    transform: scale(1.15);
}

/*Contenedor4*/

.Contenedor4{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor4-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor4-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor4-img{
    transition: all 0.6s;
}

.Contenedor4-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor4-text p{
    text-align: justify;
}

.Contenedor4-item:hover .Contenedor4-text{
    transform: translateY(0%);
}

.Contenedor4-item:hover .Contenedor4-img{
    transform: scale(1.15);
}

/*Contenedor5*/

.Contenedor5{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor5-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor5-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor5-img{
    transition: all 0.6s;
}

.Contenedor5-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor5-text p{
    text-align: justify;
}

.Contenedor5-item:hover .Contenedor5-text{
    transform: translateY(0%);
}

.Contenedor5-item:hover .Contenedor5-img{
    transform: scale(1.15);
}

/*Contenedor6*/

.Contenedor6{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor6-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor6-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor6-img{
    transition: all 0.6s;
}

.Contenedor6-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor6-text p{
    text-align: justify;
}

.Contenedor6-item:hover .Contenedor6-text{
    transform: translateY(0%);
}

.Contenedor6-item:hover .Contenedor6-img{
    transform: scale(1.15);
}

/*Contenedor7*/

.Contenedor7{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.Contenedor7-cont{
    display: flex;
    justify-content: space-between;
}

.Contenedor7-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.Contenedor7-img{
    transition: all 0.6s;
}

.Contenedor7-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.Contenedor7-text p{
    text-align: justify;
}

.Contenedor7-item:hover .Contenedor7-text{
    transform: translateY(0%);
}

.Contenedor7-item:hover .Contenedor7-img{
    transform: scale(1.15);
}

/*ContenedorC*/

.ContenedorC{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC-img{
    transition: all 0.6s;
}

.ContenedorC-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC-text p{
    text-align: justify;
}

.ContenedorC-item:hover .ContenedorC-text{
    transform: translateY(0%);
}

.ContenedorC-item:hover .ContenedorC-img{
    transform: scale(1.15);
}

/*ContenedorC1*/

.ContenedorC1{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC1-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC1-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC1-img{
    transition: all 0.6s;
}

.ContenedorC1-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC1-text p{
    text-align: justify;
}

.ContenedorC1-item:hover .ContenedorC1-text{
    transform: translateY(0%);
}

.ContenedorC1-item:hover .ContenedorC1-img{
    transform: scale(1.15);
}

/*ContenedorC2*/

.ContenedorC2{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC2-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC2-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC2-img{
    transition: all 0.6s;
}

.ContenedorC2-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC2-text p{
    text-align: justify;
}

.ContenedorC2-item:hover .ContenedorC2-text{
    transform: translateY(0%);
}

.ContenedorC2-item:hover .ContenedorC2-img{
    transform: scale(1.15);
}

/*ContenedorC3*/

.ContenedorC3{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC3-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC3-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC3-img{
    transition: all 0.6s;
}

.ContenedorC3-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC3-text p{
    text-align: justify;
}

.ContenedorC3-item:hover .ContenedorC3-text{
    transform: translateY(0%);
}

.ContenedorC3-item:hover .ContenedorC3-img{
    transform: scale(1.15);
}

/*ContenedorC4*/

.ContenedorC4{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC4-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC4-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC4-img{
    transition: all 0.6s;
}

.ContenedorC4-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC4-text p{
    text-align: justify;
}

.ContenedorC4-item:hover .ContenedorC4-text{
    transform: translateY(0%);
}

.ContenedorC4-item:hover .ContenedorC4-img{
    transform: scale(1.15);
}

/*ContenedorC5*/

.ContenedorC5{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC5-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC5-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC5-img{
    transition: all 0.6s;
}

.ContenedorC5-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC5-text p{
    text-align: justify;
}

.ContenedorC5-item:hover .ContenedorC5-text{
    transform: translateY(0%);
}

.ContenedorC5-item:hover .ContenedorC5-img{
    transform: scale(1.15);
}

/*ContenedorC6*/

.ContenedorC6{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC6-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC6-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC6-img{
    transition: all 0.6s;
}

.ContenedorC6-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC6-text p{
    text-align: justify;
}

.ContenedorC6-item:hover .ContenedorC6-text{
    transform: translateY(0%);
}

.ContenedorC6-item:hover .ContenedorC6-img{
    transform: scale(1.15);
}

/*ContenedorC7*/

.ContenedorC7{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC7-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC7-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC7-img{
    transition: all 0.6s;
}

.ContenedorC7-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC7-text p{
    text-align: justify;
}

.ContenedorC7-item:hover .ContenedorC7-text{
    transform: translateY(0%);
}

.ContenedorC7-item:hover .ContenedorC7-img{
    transform: scale(1.15);
}

/*ContenedorC8*/

.ContenedorC8{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorC8-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorC8-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorC8-img{
    transition: all 0.6s;
}

.ContenedorC8-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorC8-text p{
    text-align: justify;
}

.ContenedorC8-item:hover .ContenedorC8-text{
    transform: translateY(0%);
}

.ContenedorC8-item:hover .ContenedorC8-img{
    transform: scale(1.15);
}

/*ContenedorF*/

.ContenedorF{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorF-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorF-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorF-img{
    transition: all 0.6s;
}

.ContenedorF-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorF-text p{
    text-align: justify;
}

.ContenedorF-item:hover .ContenedorF-text{
    transform: translateY(0%);
}

.ContenedorF-item:hover .ContenedorF-img{
    transform: scale(1.15);
}

/*ContenedorF1*/

.ContenedorF1{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorF1-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorF1-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorF1-img{
    transition: all 0.6s;
}

.ContenedorF1-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorF1-text p{
    text-align: justify;
}

.ContenedorF1-item:hover .ContenedorF1-text{
    transform: translateY(0%);
}

.ContenedorF1-item:hover .ContenedorF1-img{
    transform: scale(1.15);
}

/*ContenedorF2*/

.ContenedorF2{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorF2-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorF2-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorF2-img{
    transition: all 0.6s;
}

.ContenedorF2-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorF2-text p{
    text-align: justify;
}

.ContenedorF2-item:hover .ContenedorF2-text{
    transform: translateY(0%);
}

.ContenedorF2-item:hover .ContenedorF2-img{
    transform: scale(1.15);
}

/*ContenedorF3*/

.ContenedorF3{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorF3-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorF3-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorF3-img{
    transition: all 0.6s;
}

.ContenedorF3-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorF3-text p{
    text-align: justify;
}

.ContenedorF3-item:hover .ContenedorF3-text{
    transform: translateY(0%);
}

.ContenedorF3-item:hover .ContenedorF3-img{
    transform: scale(1.15);
}

/*ContenedorF5*/

.ContenedorF5{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorF5-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorF5-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorF5-img{
    transition: all 0.6s;
}

.ContenedorF5-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorF5-text p{
    text-align: justify;
}

.ContenedorF5-item:hover .ContenedorF5-text{
    transform: translateY(0%);
}

.ContenedorF5-item:hover .ContenedorF5-img{
    transform: scale(1.15);
}

/*ContenedorF6*/

.ContenedorF6{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorF6-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorF6-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorF6-img{
    transition: all 0.6s;
}

.ContenedorF6-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorF6-text p{
    text-align: justify;
}

.ContenedorF6-item:hover .ContenedorF6-text{
    transform: translateY(0%);
}

.ContenedorF6-item:hover .ContenedorF6-img{
    transform: scale(1.15);
}

/*ContenedorF7*/

.ContenedorF7{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
}

.ContenedorF7-cont{
    display: flex;
    justify-content: space-between;
}

.ContenedorF7-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}

.ContenedorF7-img{
    transition: all 0.6s;
}

.ContenedorF8-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11.3px;
    background: rgba(0, 0, 0, 0.5);
    color:  rgb(230, 72, 72);

    transform: translateY(100%);
    transition: all 0.6s ease-out;
}

.ContenedorF8-text p{
    text-align: justify;
}

.ContenedorF8-item:hover .ContenedorF8-text{
    transform: translateY(0%);
}

.ContenedorF8-item:hover .ContenedorF8-img{
    transform: scale(1.15);
}
/*Se usa la clase footer para crear un pie de página y después con propiedades para dar estilos*/
  footer{
    position: fixed;
    bottom: 0;
    background: black ;
    text-align: center;
    width: 100%;
    height: 45px;
    font-size: 12px;
    text-align: center;
    color:rgb(230, 72, 72);
    margin-top: 100px;
    padding: 10px;
 }


